/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!/var/control
/var/control/*
!var/control/.gitkeep
/vendor/
/web/bundles/
/web/markup/documentation
/web/markup/production
src/App/MainBundle/Command/TestCommand.php
.idea
.env
.web-server-pid